.main3{
    padding: 1.5rem;
    h1{
        font-size: 3.5rem;
        text-align: center;
    }
    .textoA{
        padding: 1rem;
        width: 900px;
        margin: 50px auto;
        font-size: 1.3rem;
        font-weight: 600;
        background-color:$bg-rosaNu;
        border-radius: 10px;
        @media screen and (max-width:768px) {
            width: 80%;
        }
    }
}